/* .authnavbar {
    background: rgb(43, 42, 42);
    padding: 10px;
}

.authnavbar .login {
    color: white;
    text-decoration: none;
    float: right;
    margin: 0;
}
.authnavbar .login:hover{
    cursor: pointer;
}

.authnavbar .brand-name {
    color: white;
    text-decoration: none;
}
.authnavbar .username {
    color: white;
    text-decoration: none;
    float: right;
    margin: 0;
    padding-right: 20px;
} */
.authnavbar .username {
    padding-right: 20px;
}
.authnavbar .auth:hover{
    cursor: pointer;
}
.register-page {
    width: 50%;
    margin: auto;
}

.login-page form{
    width: 50%;
    margin: auto;
    /* height: 100vh; */
    margin-top: 20px;
}
.login-page form input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-page form input.submit:hover{
    cursor: pointer;
}
.login-page .register{
    text-align: center;
}
.product-page .search-product {
    margin-top: 10px;
    margin-bottom: 0 !important;
}